nav li{
    display: inline;
    padding-right: 20px;
}

nav a{
    color: black;
    text-decoration: none;
}

.dog_container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    width: 100%;
}

img{
    max-width: 100%;
}

.brody1{
    grid-column: 2;
    grid-row: 1;
    padding: 20px;
    /* object-fit: cover;
    overflow: hidden; */
}

.brody2{
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
}

.brody3{
    grid-column: 2;
    grid-row: 3;
    padding: 20px;
}

.brody_text{
    grid-column: 1 / -1;
    grid-row: 4;
    text-align: center;
    padding-bottom: 50px;
}

.higgins1{
    grid-column: 2;
    grid-row: 5;
    padding: 20px;
}

.higgins2{
    grid-column: 2;
    grid-row: 6;
    padding: 20px;
}

.higgins3{
    grid-column: 2;
    grid-row: 7;
    padding: 20px;
}

.higgins_text{
    grid-column: 1 / -1;
    grid-row: 8;
    text-align: center;
    padding-bottom: 50px;
}

.marlo1{
    grid-column: 2;
    grid-row: 9;
    padding: 20px;
}

.marlo2{
    grid-column: 2;
    grid-row: 10;
    padding: 20px;
}

.marlo3{
    grid-column: 2;
    grid-row: 11;
    padding: 20px;
}

.marlo_text{
    grid-column: 1 / -1;
    grid-row: 12;
    text-align: center;
    padding-bottom: 50px;
}


